@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>I will use all your data to hack you and kill your whole family.<br/>You will die alone in some dark alley from food posion.<br/>The rats will begin to eat your inside and no one will remember you</p>
